.card-slot {
    width: 40px;
    height: 60px;
    margin: 1px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1.5px solid black;
}

.card-slot.rotated {
    width: 60px;
    height: 40px;
}