@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Bitter:wght@400;700&family=Bree+Serif&family=Courier+Prime:wght@400;700&family=Cutive+Mono&family=IBM+Plex+Mono:wght@400;700&family=Special+Elite&family=Arvo:wght@400;700&family=Alegreya:wght@400;700&display=swap');

h1 {
    display: flex;
    align-items: center;
    line-height: 1;
    /* margin: 5px auto; */
}
