.vpip-grid {
    display: grid;
    height: 650px;
    width: 50%;
    margin: 10px auto;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

span {
    text-align: center;
}