.table {
    position: relative;
    margin: 20px auto 0 auto;
    width: 700px;
    height: 300px;
    border-radius: 50px;
    border: 20px solid rgb(41, 97, 103);
    background: lightgreen;
    box-sizing: border-box;
    text-align: center;
}

.board-centre {
    position: absolute;
    display: flex;
    top: 90px;
    left: 210px;
    height: 60px;
    width: 230px;
    /* border: 2px solid black; */
}

.space {
    width: 8px;
}

@media (prefers-color-scheme: dark) {
    .table {
        background: green;
        border: 20px solid rgb(16, 62, 67);
    }
}