.table {
    position: relative;
    margin: 20px auto 0 auto;
    width: 800px;
    height: 350px;
    border-radius: 125px;
    border: 25px solid sienna;
    /* saddlebrown, sienna and peru all good */
    background: lightgreen;
    box-sizing: border-box;
}

.board-centre {
    position: absolute;
    display: flex;
    top: 115px;
    left: 260px;
    height: 60px;
    width: 230px;
    /* border: 2px solid black; */
}

.street-labels {
    position: absolute;

    width: 240px;
    top: 180px;
    /* top: 95px; */
    left: 260px;
    height: 30px;
    display: flex;
    .flop {
        margin: 0;
        margin-left: 43px;
    }
    .turn {
        margin: 0;
        margin-left: 54px;
    }
    .river {
        margin: 0;
        margin-left: 9px;
    }
}

.player {
    position: absolute;
    display: flex;
    /* border: 1px solid white; */
    width: 100px;
    /* position needs to be determined by tsx.... */
}

.space {
    width: 8px;
}

@media (prefers-color-scheme: dark) {
    .table {
        background: green;
        border: 20px solid rgb(16, 62, 67);
    }
}