.table {
    position: relative;
    margin: 20px auto 0 auto;
    width: 800px;
    height: 350px;
    border-radius: 125px;
    border: 25px solid sienna;
    /* saddlebrown, sienna and peru all good */
    background: lightgreen;
    box-sizing: border-box;
    text-align: center;
}

.board-centre {
    position: absolute;
    display: flex;
    top: 115px;
    left: 260px;
    height: 60px;
    width: 230px;
    /* border: 2px solid black; */
}

.space {
    width: 8px;
}

@media (prefers-color-scheme: dark) {
    .table {
        background: green;
        border: 20px solid rgb(16, 62, 67);
    }
}